# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

# Virtual environment
venv/
env/
*.venv
*.env

# outputs
experiments/
results/


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
logs/
*.log
debug.log
nohup.out

# Data & datasets
data/
*.csv
*.json
*.xml
*.zip
*.tar.gz
*.h5
*.npy
*.npz

# Model checkpoints & weights
checkpoints/
models/weights/
*.ckpt
*.pth
*.h5
*.pt
*.onnx

# Metrics & evaluation results
src/utils/calculate_ODmetrics/

# Hydra config outputs
hydra_outputs/

# TensorBoard logs
runs/
tb_logs/
lightning_logs/

# WandB (Weights & Biases) cache
wandb/
*.wandb

# VS Code settings
.vscode/

# JetBrains IDEs (PyCharm)
.idea/

# MacOS and Windows system files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Ignore any compiled Cython files
*.so
*.dll

# Ignore secrets & environment files
venv39
*.secret
config.json
credentials.json
